$font-family-sans-serif: "PT Sans";

$primary: #00aeef;

$navbar-nav-link-padding-x: 0;
$nav-link-padding-y: 1rem;

$input-btn-border-width: 0;
$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: none;
